$dark: #698474;
$green: #889e81;
$light: #bac7a7;
$cream: #e5e4cc;
$lightCream: #fffbdf;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

.sidebar {
	background-color: $cream;
}

.about-header {
	h3 {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.6rem;
		line-height: 1.4rem;
		font-weight: 900;
		color: #333;
		letter-spacing: -0.5px;
	}
}

.about-name {
	color: $dark;
	h1 {
		font-family: 'Playfair Display', serif;
		font-weight: 900;
		letter-spacing: -1px;
		font-size: 6.5vh;
		transform-origin: translateX(20px) translateY(0px) translateZ(0px);
		transition: opacity 500ms ease 0s, transform 500ms ease 0s;
		transform: translateX(0px) translateY(0px) translateZ(0px);
	}
}

.about-body {
	border-top: 1px solid $green;
	p {
		font-size: small;
		font-family: 'Montserrat', sans-serif;
		color: $green;
		a {
			text-decoration: none;
			font-weight: 600;
			color: $dark;
		}
	}
}

.linkedin-icon {
	font-size: 30px;
	color: #2867b2;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.4s ease-in-out;
}

.linkedin-icon:hover {
	opacity: 1;
	color: #2867b2;
}

.github-icon {
	font-size: 30px;
	color: #333;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.4s ease-in-out;
}

.github-icon:hover {
	opacity: 1;
	color: #333;
}

.instagram-icon {
	font-size: 30px;
	opacity: 0.5;
	cursor: pointer;
	color: #fcaf45;
	transition: opacity 0.4s ease-in-out;
}

.instagram-icon:hover {
	opacity: 1;
	color: #fcaf45;
}

.twitter-icon {
	font-size: 30px;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.4s ease-in-out;
	color: #1da1f2;
}

.twitter-icon:hover {
	opacity: 1;
	color: #1da1f2;
}

.email-icon {
	font-size: 30px;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.4s ease-in-out;
	color: $dark;
}

.email-icon:hover {
	opacity: 1;
	color: $dark;
}

.email-link {
	font-family: 'Montserrat', sans-serif;
}

.inTouch-btn {
	border: 3px solid $dark;
	outline: none;
	color: $lightCream;
	background-color: $dark;
	padding: 8px 20px;
	font-size: smaller;
	transition: 0.4s ease;
}

.inTouch-btn:hover {
	background-color: $lightCream;
	color: $dark;
	box-shadow: 4px 4px;
}

.inTouch-btn:active {
	box-shadow: 0px 0px;
	transition: 0.2s;
	transform: translateY(0px);
}

.photo-section {
	width: 100%;
	height: 600px;
	background-color: $green;
}

.project-lyrically {
	width: 100%;
	height: 600px;
	background-color: $light;
}

.project-calculator {
	width: 100%;
	height: 600px;
	background-color: $green;
}

.project-quote {
	width: 100%;
	height: 600px;
	background-color: $light;
}

.project-synth {
	width: 100%;
	height: 600px;
	background-color: $green;
}

.project-title {
	p {
		a {
			color: $lightCream;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 700;
			text-decoration: none;
			opacity: 0.6;
			transition: all 0.3s;
		}
	}
}

.project-title {
	p {
		a:hover {
			opacity: 1;
		}
	}
}

.project-footer {
	p {
		font-family: 'Montserrat', sans-serif;
		color: $lightCream;
		font-size: 12px;
		font-weight: 300;
		display: inline;
	}
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $dark;
	p {
		color: $lightCream;
		font-size: 10px;
		font-weight: 300;
	}
}

.arrow-down {
	display: none;
}

.col-sm-7 {
	overflow-y: auto;
}

@media screen and (max-width: 575px) {
	.arrow-down {
		clear: both;
		display: block;
		font-size: x-large;
		color: $light;
	}

	.col-sm-7 {
		overflow-y: visible;
	}
}

.slide-in {
	animation: slideMe .6s;
}

.slide-in-2 {
	animation: slideMe2 1.2s;
}

.slide-in-3 {
	animation: slideMe3 1.8s;
}

.col-sm-7 {
	-webkit-overflow-scrolling: touch;
}

@keyframes slideMe {
	0% {
		transform: translateX(-50px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slideMe2 {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slideMe3 {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
